/* Styling the main heading */
h1 {
    background-color: rgb(0, 255, 204);
}
/* Styling Heading Images */
.column {
    float: left;
    width: 33.33%;
    font-style: italic;
}
/* clearing float */
.row::after {
    content: "";
    clear: both;
}
/* Styling heading 2 */
h2{
    color: rgb(51, 153, 255);
}
/*Font size for location description*/
p {
    font-size: 20px;
}
/* Styling embedded map */
.mapouter {
    position: absolute;
    text-align:center;
    height:500px;
    width:600px;
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:500px;
    width:600px;
}
