/* Styling the main heading */
h1 {
    background-color: rgb(0, 255, 204);
}
/* Styling Heading Images */
.column {
    float: left;
    width: 33.33%;
    font-style: italic;
    font-weight: bold;
}
/* clearing float */
.row::after {
    content: "";
    clear: both;
}
/* Styling heading 2 */
h2{
    color: hsl(187, 70%, 33%);
}
/*Font styling for paragraphs*/
p {
    font-size: 20px;
}
/* Styling embedded map */
.mapouter {
    position:relative;
    text-align:center;
    /*float: right;*/
    /*width: 50%;*/
    height:500px;
    width:600px;
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:500px;
    width:600px;
}
/*styling rocky image pic*/
.rockyimage {
    position: absolute;
    top: 600px;
    left: 900px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
