/* Styling the main heading */
div.heading{
    position: fixed;
    border: 1px solid rgb(22, 35, 207); 
    border-width: 4px;
    background-color: rgb(64 ,142 ,230);
    padding: 2px 10px 2px 10px;
    top: 13%;
    left: 45%;
    margin-top: -100px;
    margin-left: -250px;
    z-index: 10;
}
#navigation{
    text-align: center;
}
/*h1{
    background-color: rgb(0, 255, 204);
    text-align:center;
}*/
/* Styling Heading Images */
.column {
    float: left;
    width: 33.33%;
    text-align: center;
    font-style: italic;
    font-weight: bold; 
    margin-top: 150px;
    margin-bottom: 20px;
}
/* clearing float */
.row::after {
    content: "";
    clear: both;
}
/* Styling heading 2 */
h2{
    color: hsl(187, 70%, 33%);
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 3px 3px 3px 3px rgb(0,0,0);
}
/*Font styling for paragraphs*/
#location {
    background-color: hsl(187, 70%, 40%);
    font-size: 20px;
    font-weight: bold;
}
/* Styling embedded map */
.mapouter {
    position:relative;
    text-align:center;
    font-style: italic;
    font-weight: bold;
    /*float: right;*/
    /*width: 50%;*/
    height:500px;
    width:600px;
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:500px;
    width:600px;
}
/*styling rocky image pic*/
.rockyimage {
    position: absolute;
    top: 725px;
    left: 825px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
/*styling lava rock description */
#lava{
    font-size: 20px;
}
/* styling links */
a:hover {
    color: rgb(0, 255, 204);
}
/*styling activity description */ 
#activities{
    font-size: 20px;
    line-height: 1.4em;
}
#list_heading{
    text-align:center;
}
/*styling table*/
#table1{
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
}
#table1 td, #table1 th{
    border: 2px solid #000000;
    text-align:center;
} 
/* styling hotel description */
#hotels{
    font-size: 20px;
}
/* styling hotel heading */ 
#housing{
    text-align:center; 
}
/*styling hotel images in 3-column layout*/
.column2{
    float: left;
    width: 33.33%;
    text-align: center;
    font-style: italic;
    font-weight: bold; 
    margin-bottom: 20px;
}
.row2::after {
    content: "";
    clear: both;
}
/*clearing floats*/

/* styling list heading */
#others{
    font-size: 20px;
    line-height: 1.4em;
}
#formheading{
    /*position: relative;*/
    /*top: 15px;*/
    width: 30%; 
    margin-left: auto;
    margin-right: auto;
}
/*Styling form*/

input:focus {
    background-color:rgb(0, 255, 204);
}


    



