/* Styling the main heading */
h1 {
    background-color: mediumturquoise;
}
/* Styling Heading Images */
.column {
    float: left;
    width: 33.33%;
}
/* clearing float */
.row::after {
    content: "";
    clear: both;
}
